* {
	margin: 0;
	padding: 0;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: black;
	position: fixed;
	width: 100%;
}

.images {
	width: 150px;
	height: 150px;
}

.nav ul li {
	display: inline-block;
	list-style-type: none;
	margin-left: 20px;
	padding-right: 50px;
}

.nav ul li a{
	text-decoration: none;
	color: white;
	font-weight:bold;
}

.nav ul li a:hover{
	color:orange;
	
	:
}

.content {
	display: grid;
	grid-template-columns:400px 1fr;
	grid-template-rows: 500px 500px 500px;
	
}

.pic1 {
	padding-top:200px;
	padding-bottom:200px;
	grid-area: pic1;
}

.p1 {
	padding-top:200px;
	padding-bottom:200px;
	grid-area: p1;
}

.pic2 {
	padding-top:200px;
	padding-bottom:200px;
	grid-area: pic2;
}

.p2 {
	padding-top:200px;
	padding-bottom:200px;
	grid-area: p2;
}

.pic3 {
	padding-top:200px;
	padding-bottom:200px;
	grid-area: pic3;
}

.p3 {
	padding-top:200px;
	padding-bottom:200px;
	grid-area: p3;
}

.pic4 {
	padding-top:200px;
	padding-bottom:200px;
	grid-area: pic4;
}

.p4 {
	padding-top:200px;
	padding-bottom:200px;
	grid-area: p4;
}

.pic5 {
	padding-top:200px;
	padding-bottom:200px;
	grid-area: pic5;
}

.p5 {
	padding-top:200px;
	padding-bottom:200px;
	grid-area: p5;
}

@media screen and (max-width:600px) {
.container {
	display: grid;
	text-align: center;
	grid-template-columns: 1fr;
	grid-template-rows: 50px 100px 150px 100px 50px;
	grid-template-areas:
	"pic1"
	"p1"
	"pic2"
	"p2"
	"pic3"
	"p3"
	"pic4"
	"p4"
	"pic5"
	"p5";
}
}
